body {
    background-image: url(../images/gray_jean.png);
    height:100%;
}

.header {   
    margin-bottom: 90px;
   font-size: 40pt;
   font-family: 'Poppins', sans-serif;;
   text-align: center;
   color: mediumblue;
}   

.field{
    color: black;
}
.foodContent {
    display: flex;
    justify-content: space-between;
    text-align: justify;
}
.containerFitness {
    border: 9px solid #E3A340;
    border-radius: 18px;
    padding:10px ;
}
    
.select {
    border-radius: 1cm;
}

footer {
    padding: 15px;
    clear: both;
    font-family: fantasy;
    text-align: center;
    color:rgb(0, 0, 0);
    background-image: url(../images/gray_jean.png); 
}

i{
    margin-right: 10px;
}


.hero{
    background-image:url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background-position: center center;
    position: relative;
    overflow: hidden;
    width: 100%;  
}
img {
    height:170px;
}

#hero-text{
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.name{
    font-size: 35px;
    font-weight: bolder;
    color: whitesmoke
}

.headerText{
    color: white;
    font-size: 18px;
    border: 2px whitesmoke solid;
    width:50%;
    margin: auto;
    border-radius: 25px;
    padding: 15px;
    background-color:rgb(255, 255, 255, 0.2)
     
}

a { color: white; text-decoration: none; }

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

