body {
    background-image: url(../images/gray_jean.png);
}

.header {   
    margin-bottom: 90px;
   font-size: 40pt;
   font-family: 'Poppins', sans-serif;;
   text-align: center;
   color: mediumblue;
}   

.field{
    color: black;
}
.foodContent {
    display: flex;
    justify-content: space-between;
    text-align: justify;
}
.containerFitness {
    border: 9px solid #E3A340;
    border-radius: 18px;
    padding:10px ;
}
    
.select {
    border-radius: 1cm;
}

footer {
    padding: 15px;
    clear: both;
    font-family: fantasy;
    text-align: center;
    color:rgb(0, 0, 0);
    background-image: url(../images/gray_jean.png); 
}

i{
    margin-right: 10px;
}

